html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  margin: 0;
  line-height: 1.4rem;
}

header {
  height: 31rem;
  width: 100%;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: cadetblue;
  color: white;
  position: relative;
  top: 1rem;
  font-size: 1rem;
}

.topbartablet {
  display: none;
}

.topbarmobile {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img, .footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

nav {
  display: flex;
  align-items: center;
}

nav span {
  margin-left: 2rem;
}

.titlecontainer {
  width: 1032px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.headline {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
}

.headline h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.icons {
  height: 8rem;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.box p {
text-align: center;
}

#paper img {
  width: 3.5rem;
}

#ruler img, #truck img {
  width: 5rem;
}

#ruler {
  margin-left: 6em;
  margin-right: 6em;
}

.info {
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.textbox {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#philosophy {
  margin-right: 5%;
}

.title {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  max-width: 10rem;
}

.footer {
  background-color: azure;
  display: flex;
  align-items: center;
  padding: 4rem;
}

/* Media queries for responsive design */

@media only screen and (max-width: 1024px) {

  .container {
    max-width: 100%;
  }

  header {
    height: 22rem;
    width: 100%;
    margin: 0;
  }

  .topbar {
    display: none;
  }

  .topbartablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: cadetblue;
    color: white;
    font-size: 1rem;
    max-width: 100%;
    margin: 0 auto;
  }

  .titlecontainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  .headline {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2em;
  }

  .headline h1 {
    font-size: 1.33rem;
  }

  .info {
    margin-left: 4rem;
  }
}

@media only screen and (max-width: 582px) {

  .topbar {
    display: none;
  }

  .topbartablet {
    display: none;
  }

  .topbarmobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: cadetblue;
    color: white;
    max-width: 100%;
  }

  .topbarmobile img {
    height: 1.5rem;
  }

  header {
    height: 17rem;
    background-position: 20%;
  }

  .headline {
    padding: 1rem 0;
    margin: 9rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .headline h1 {
    font-size: 1rem;
  }

  .icons {
    height: auto;
    margin: 3.77rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #ruler {
    margin: 1.54rem 0;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }

  .box p {
    font-size: 0.77rem;
    line-height: 1.4;
    margin-top: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3.77rem auto 5em auto;
    width: 100%;
    align-items: center;
  }

  .textbox {
    width: 100%;
    margin: 0 auto;
  }

  .title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .textbox p {
    margin: 0 1rem 4rem 1rem;
  }

  .footer span {
    display: none;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }


}
